browsermob-proxy==0.8.0
manifestparser==2.1.0
marionette-driver==3.1.0
mozcrash==2.0.0
mozdevice==4.0.2
mozinfo==1.2.2
mozlog==6.1
moznetwork==1.1.0
mozprocess==1.2.1
mozprofile==2.5.0
mozrunner==8.0.2
moztest==1.1.0
mozversion==2.3.0
six
wptserve==3.0
