jsonschema==3.2.0
mozlog==7.1.0
mozcrash==2.1.0
mozfile==2.1.0
mozinfo==1.2.2
mozprocess==1.3.0
mozversion==2.3.0
mozprofile==2.5.0
mozrunner==8.2.1
psutil==5.8.0
simplejson==3.17.5
requests==2.26.0
wptserve==3.0
