/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

checkbox {
  appearance: none;
  -moz-box-align: center;
  margin: 4px 2px;
}

.checkbox-icon[src] {
  margin-inline-end: 2px;
}

.checkbox-label {
  margin: 1px 0;
}

/* ..... disabled state ..... */

checkbox[disabled="true"] {
  opacity: 0.4;
}

/* ::::: checkmark image ::::: */

.checkbox-check {
  appearance: none;
  color: var(--checkbox-border-color, ThreeDDarkShadow);
  background-color: var(--checkbox-unchecked-bgcolor, Field);
  border: 1px solid currentColor;
  border-radius: 2px;
  margin-inline-end: 6px;
}

.checkbox-check:not([native]) {
  height: 16px;
  width: 16px;
}

checkbox:not([disabled="true"]):hover > .checkbox-check {
  background-color: var(--checkbox-unchecked-hover-bgcolor, color-mix(in srgb, -moz-accent-color 4%, Field));
}

checkbox:not([disabled="true"]):hover:active > .checkbox-check {
  background-color: var(--checkbox-unchecked-active-bgcolor, color-mix(in srgb, -moz-accent-color 8%, Field));
}

.checkbox-check[checked] {
  border-color: var(--checkbox-checked-border-color, transparent);
  background-color: var(--checkbox-checked-bgcolor, -moz-accent-color);
  background-image: url("chrome://global/skin/icons/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  -moz-context-properties: fill;
  fill: currentColor;
  color: var(--checkbox-checked-color, -moz-accent-color-foreground);
  /* Style the button also when printing with "Print Backgrounds" unchecked */
  color-adjust: exact;
}

checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
  background-color: var(--checkbox-checked-hover-bgcolor, color-mix(in srgb, currentColor 12.5%, -moz-accent-color));
}

checkbox:not([disabled="true"]):hover:active > .checkbox-check[checked] {
  background-color: var(--checkbox-checked-active-bgcolor, color-mix(in srgb, currentColor 25%, -moz-accent-color));
}

checkbox:not([native]):focus-visible > .checkbox-check {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

@media (prefers-contrast) {
  checkbox:not([disabled="true"]):hover > .checkbox-check {
    /* color will set the border-color on the check due to how HCM works for in-content pages. */
    color: var(--checkbox-checked-border-color, color-mix(in srgb, -moz-accent-color 4%, Field));
  }

  checkbox:not([disabled="true"]):hover:active > .checkbox-check[checked],
  checkbox:not([disabled="true"]):hover > .checkbox-check[checked] {
    color: var(--checkbox-checked-border-color, -moz-accent-color-foreground);
    fill: var(--checkbox-checked-color, -moz-accent-color-foreground);
    background-color: var(--checkbox-checked-bgcolor, -moz-accent-color);
  }
}
