/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.popup-notification-header-container,
.popup-notification-footer-container {
  display: flex;
  /** Padding + Icon width + border-radius + popup-notification-body-width **/
  max-width: calc(2 * var(--arrowpanel-padding) + 32px + 4px + var(--popup-notification-body-width));
}

.popup-notification-body-container {
  padding: var(--arrowpanel-padding);
}

.popup-notification-icon {
  width: 32px;
  height: 32px;
  margin-inline-end: var(--arrowpanel-padding);
}

.popup-notification-body {
  width: var(--popup-notification-body-width);
}

.popup-notification-closebutton {
  margin-inline-end: -8px;
  margin-top: -8px;
}

.popup-notification-origin:not([value]),
.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-origin {
  margin-bottom: .3em !important;
}

.popup-notification-hint-text {
  margin-top: .5em !important;
}

.popup-notification-hint-text:empty {
  display: none;
}

.popup-notification-button-container {
  display: flex;
}

.popup-notification-button-container > toolbarseparator {
  appearance: none;
  border: 0;
  border-left: 1px solid var(--panel-separator-color);
  margin: 7px 0 7px;
  min-width: 0;
}

.popup-notification-button-container:hover > toolbarseparator {
  margin: 0;
}

.popup-notification-button {
  flex: 1;
  margin-bottom: 0;
}

.popup-notification-primary-button {
  flex: 0 50%;
}

.popup-notification-secondary-button[hidden="true"] ~ .popup-notification-primary-button {
  flex: 1;
}

.popup-notification-dropmarker > .button-box > hbox {
  display: none;
}

.popup-notification-dropmarker > .button-box > .button-menu-dropmarker {
  /* This is to override the linux !important */
  appearance: none !important;
  display: -moz-box;
  padding: 0;
  margin: 0;
}

.popup-notification-dropmarker > .button-box > .button-menu-dropmarker::part(icon) {
  width: 16px;
  height: 16px;
  list-style-image: url(chrome://global/skin/icons/arrow-down.svg);
  -moz-context-properties: fill;
  fill: currentColor;
}

.popup-notification-warning {
  color: #d74345;
}

/** PopupNotifications **/
popupnotification {
  font: caption;
}

.panel-footer {
  justify-content: flex-end;
  margin: 8px 16px 16px;
}

.panel-footer > button {
  appearance: none;
  border: 0;
  border-radius: 4px;
  padding: 8px 16px;
  font-weight: 600;
  min-width: 0;
  margin-inline: 8px 0;
}

.panel-footer > .popup-notification-dropmarker {
  margin-inline-start: 0;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.popup-notification-button-container > toolbarseparator {
  margin-block: 0;
  border-color: transparent;
}

.panel-footer > button {
  color: var(--button-color, inherit);
}

.panel-footer > button {
  background-color: var(--button-bgcolor, color-mix(in srgb, currentColor 13%, transparent));
}

.panel-footer > button[disabled] {
  opacity: 0.4;
}

.panel-footer > button:focus-visible {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-offset);
}

.panel-footer > button:not([disabled]):hover {
  background-color: var(--button-hover-bgcolor, color-mix(in srgb, currentColor 17%, transparent));
}

.panel-footer > button:not([disabled]):hover:active {
  background-color: var(--button-active-bgcolor, color-mix(in srgb, currentColor 30%, transparent));
}

.panel-footer > button:not([disabled])[default] {
  color: var(--button-primary-color);
  background-color: var(--button-primary-bgcolor);
}

.panel-footer > button:not([disabled])[default]:hover {
  background-color: var(--button-primary-hover-bgcolor);
}

.panel-footer > button:not([disabled])[default]:hover:active {
  background-color: var(--button-primary-active-bgcolor);
}

.popup-notification-button,
.popup-notification-primary-button {
  flex: unset;
}

.popup-notification-secondary-button[hidden="true"] ~ .popup-notification-primary-button {
  flex: none;
}

.panel-footer > .popup-notification-secondary-button:not([dropmarkerhidden="true"]) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

/**
 * The focus ring is an outline thicker than 1px, meaning that for split buttons,
 * if the main button part of the split button has :focus-visible, the ring will
 * be partially hidden behind the dropmarker button. We work around this by
 * temporarily boosting the z-index of the main button while showing its focus
 * ring.
 */
.panel-footer > .popup-notification-secondary-button:not([dropmarkerhidden="true"]):focus-visible {
  z-index: 2;
}

.popup-notification-icon:not([hasicon]) {
  display: none;
}

.popup-notification-icon {
  height: 16px;
  width: 16px;
  margin-inline-end: 6px;
}

.popup-notification-checkbox > .checkbox-label-box > .checkbox-label {
  opacity: 0.7;
}

.panel-footer > .popup-notification-dropmarker {
  max-width: 32px;
  padding: 8px;
}

.popup-notification-learnmore-link {
  text-decoration: underline;
  margin-block: 4px 0;
}
