/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

%include ../../shared/checkbox.inc.css

checkbox:where([native]) {
  appearance: auto;
  -moz-default-appearance: checkbox-container;
  -moz-box-align: center;
  margin: 4px 2px;
}

.checkbox-label[native] {
  margin: 1px 0;
}

/* ..... disabled state ..... */

checkbox[native][disabled="true"] {
  color: GrayText;
}

/* ::::: checkmark image ::::: */

.checkbox-check[native] {
  appearance: auto;
  -moz-default-appearance: checkbox;
  margin-block: 1px 0;
  margin-inline: 1px 3px;
  /* vertical-align tells native theming where to snap to. However, this doesn't
   * always work reliably because of bug 503833. */
  vertical-align: top;
  width: 1.3em;
  height: 1.3em;
}
