/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

%include ../../shared/tree.inc.css

@media not (prefers-contrast) {
  /* We show a `SelectedItem` background on selected rows, so we do not need the
     dotted outline in that case. For users who have Full Keyboard Access
     enabled, macOS draws a blue highlight above the row highlight, so keyboard-
     only users can still discern the currently-selected row when multiple rows
     are selected. */
  treechildren::-moz-tree-row(selected, current, focus) {
    outline: none;
  }
}
