mozcrash ==2.1.0
mozrunner ==7.8.0
mozprofile ==2.5.0
manifestparser ==2.1.0
wptserve ==3.0
mozdevice ==4.0.3
mozpower ==1.1.2
mozversion ==2.3.0
../condprofile
aiohttp==3.7.4.post0
https://pypi.pub.build.mozilla.org/pub/arsenic-19.1-py3-none-any.whl
requests==2.22.0
pyyaml==5.1.2
structlog==15.2.0
