/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace html url("http://www.w3.org/1999/xhtml");

%include ../shared/webRTC-indicator.inc.css

@media (-moz-windows-default-theme: 0) {
  :root {
    --indicator-background-color: -moz-Dialog;
    --indicator-color: -moz-DialogText;
    --indicator-border-color: InactiveBorder;
    --indicator-item-separator: 1px solid ThreeDShadow;
    --indicator-stop-button-background-color: hsla(0,0%,70%,.2);
    --indicator-stop-button-hover-background-color: hsla(0,0%,70%,.4);
    --indicator-stop-button-color: inherit;
    --minimize-button-background-color: hsla(0,0%,70%,.2);
    --minimize-button-hover-background-color: hsla(0,0%,70%,.4);
    --minimize-button-active-background-color: hsla(0,0%,70%,.6);
    --control-icon-unchecked-hover-background-color: hsla(0,0%,70%,.2);
    --control-icon-unchecked-active-background-color: hsla(0,0%,70%,.6);
    --control-icon-checked-background-color: SelectedItem;
    --control-icon-checked-icon-fill: SelectedItemText;
    --control-icon-checked-hover-background-color: hsla(0,0%,70%,.2);
    --control-icon-checked-active-background-color: hsla(0,0%,70%,.6);
  }

  #minimize,
  .stop-button {
    border: 1px outset ThreeDLightShadow;
  }
}

#webRTC-sharingCamera-menu {
  list-style-image: url("chrome://browser/skin/notification-icons/camera.png");
}

#webRTC-sharingMicrophone-menu {
  list-style-image: url("chrome://browser/skin/notification-icons/microphone.png");
}

#webRTC-sharingScreen-menu {
  list-style-image: url("chrome://browser/skin/notification-icons/screen.png");
}
